<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = UTF-8">
<title>SWAHILI COMMUNITY| Login</title>
<link rel="icon" href ="images/logo1.png">
<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1">
<link href = "css/bootstrap.min.css" rel = "stylesheet">
<link href = "css/styles.css" rel = "stylesheet">
<link href = "font-awesome/css/font-awesome.min.css" rel = "stylesheet">


<script type = "text/javascript" src = "js/jquery.js"></script>
<script typ e = "text/javascript" src = "js/jquery.cycle2.min.js"></script>
<script type = "text/javascript" src = "js/bootstrap.min.js"></script>
</head>
<body>
<center><h1 id = "swahilibox">SWAHILI BOX CONSULTANCY</h1></center>
<div id = "wrapper">



<div class = "container-fluid">
<div class = "row" id="login">
<div class = "col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1">

	

	<div class = "form-login col-md-12">
		<div class = "col-md-10 col-md-offset-1">
			
				


			<div class = "page-header">
				<h2 id = "login">LOGIN</h2>
			</div>

			<form action = "login.php" class="horizontal" method="post">
				
				<div class = "input-group form-group">
					<span class = "input-group-addon">
						<b class = "glyphicon glyphicon-user"></b>
					</span>
					<input type = "text" placeholder = "Enter username..." name = "username" id = "" class="form-control">
				</div>

				<div class = "input-group form-group">
					<span class = "input-group-addon">
						<b class = "glyphicon glyphicon-lock"></b>"
					</span>
					<input type = "password" placeholder = "Enter password..." name="password" id = "" class = "form-control">
				</div>	

				<div class = "form-group">
					<input type = "submit" value = "LOGIN" name = "submit" id = "" class = "form-control btn btn-primary">
				</div>			
				
			</form>
			
			
			
			

			<div class = "row">
				<div class = "col-md-6 col-sm-6">
					<a href = "passwordreset.html">Forgot password?</a>
				</div>
				<div class = "col-md-6 col-sm-6">
					<a href = "signup.html">Sign Up?</a>
				</div>
			</div>
		</div>
	</div>


</div>
</div>
</div>


</div>
</body>
</html>
